@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, .mh1 {
  font-weight: 700;
  font-size: 2.8em; }

h2, .mh2, .centralcontainer .title {
  font-weight: 700;
  font-size: 2em; }

.nolink {
  color: #333333 !important;
  cursor: default !important;
  text-decoration: none !important; }

.debug {
  border: 2px solid red; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.alpha60, #infobar, #jumbotron div span {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #212121;
  /* RGBa with 0.6 opacity */
  background-color: rgba(33, 33, 33, 0.4);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99333333, endColorstr=#99333333);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99333333, endColorstr=#99333333)"; }

.minimalrounded, #infobar, #jumbotron div span {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px; }

.withn {
  margin-top: 12px; }

html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

#pageheader {
  text-align: right;
  padding: 6px 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1030;
  overflow: visible;
  background-color: #fff; }
  #pageheader ul {
    font-size: 0.8em; }
    #pageheader ul li {
      display: inline;
      padding-right: 24px; }
      #pageheader ul li i {
        display: inline-block;
        padding-right: 8px; }
      #pageheader ul li a {
        color: #333333;
        cursor: pointer; }

div#headerspace {
  height: 40px; }

div#pagecontent {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  div#pagecontent .dgrey {
    color: #eeeeee; }
  div#pagecontent .dblue {
    color: #112637; }

#mainlogo {
  width: 200px; }

.pagecontainer, .centralcontainer, .pagecontainerdark {
  padding: 48px;
  margin: 16px auto;
  text-align: center; }

.contentwrap {
  width: 1170px\9;
  max-width: 1170px;
  width: auto;
  margin: 0 auto; }

#menu {
  padding: 0 48px; }
  #menu .contentwrap {
    text-align: left; }

.centralcontainer {
  text-align: center; }
  .centralcontainer div {
    margin: 15px auto; }
  .centralcontainer .main {
    font-size: 1.4em;
    width: 90%;
    margin: 15px auto;
    text-align: center; }

.pagecontainerdark {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #2D343E;
  color: #eeeeee; }

#footer {
  color: #eeeeee;
  font-size: 0.8em; }
  #footer div.col {
    width: 32%;
    float: left;
    text-align: center;
    margin-top: 6px; }
    @media only screen and (max-width: 1202px) { }
    @media only screen and (max-width: 938px) {
      #footer div.col {
        font-size: 1.2em;
        width: 100%;
        float: none;
        margin-bottom: 36px; } }
    @media only screen and (max-width: 746px) { }
    #footer div.col#midcol {
      margin-top: 0; }
    #footer div.col ul {
      margin: 0 auto;
      width: 200px\9;
      max-width: 200px; }
      #footer div.col ul li.social {
        display: inline-block;
        padding: 3px 1px; }
        #footer div.col ul li.social a {
          background-image: url(../img/sprite-map.png);
          background-size: auto;
          background-clip: border-box;
          background-attachment: scroll;
          width: 37px;
          height: 37px;
          display: inline-block; }
        #footer div.col ul li.social.twitter a {
          background-position: 0px -274px; }
        #footer div.col ul li.social.linkedin a {
          background-position: 0px -200px; }
        #footer div.col ul li.social.github a {
          background-position: 0px -421px; }
    #footer div.col #followmeheader {
      font-weight: 700;
      margin-bottom: 6px; }
  #footer div#address {
    width: 200px\9;
    max-width: 200px;
    margin: 0 auto;
    text-align: left !important; }
  #footer img#footerlogo {
    width: 180px; }

#scrolltotop {
  background-color: #000 !important; }

#buttonbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100; }

#fullscreen {
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  background-color: #222222;
  text-align: center;
  vertical-align: middle; }
  #fullscreen img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#infobar {
  position: absolute;
  z-index: 100;
  top: 45px;
  left: 10px;
  border: 1px solid #444444;
  text-align: left;
  padding: 6px;
  color: #a0a0a0;
  font-size: 0.8em; }

#jumbotron {
  background: url('../img/rotterdam.jpg') no-repeat right center;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 100%;
  height: 400px;
  margin: 0 0 48px 0; }
  #jumbotron div div {
    float: left;
    width: 50%;
    max-width: 440px;
    position: relative; }
    @media only screen and (max-width: 746px) {
      #jumbotron div div {
        float: none;
        width: 100%;
        max-width: 100%; } }
  #jumbotron div span {
    color: #eeeeee;
    text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
    padding: 8px 24px;
    display: inline-block;
    position: relative; }
    #jumbotron div span#companytitle {
      top: 80px; }
      #jumbotron div span#companytitle h1 {
        font-size: 4em;
        display: inline; }
    #jumbotron div span#companyheader {
      top: 102px;
      left: 200px;
      width: 386px\9;
      max-width: 386px;
      text-align: center; }
      @media only screen and (max-width: 1202px) {
        #jumbotron div span#companyheader {
          left: 0; } }
      @media only screen and (max-width: 746px) {
        #jumbotron div span#companyheader {
          font-size: 1em; } }
      #jumbotron div span#companyheader h2 {
        display: inline-block; }
    #jumbotron div span#companysubtitle {
      top: 120px;
      text-align: left;
      left: 200px;
      width: 386px\9;
      max-width: 386px;
      text-align: center; }
      @media only screen and (max-width: 1202px) {
        #jumbotron div span#companysubtitle {
          left: 0; } }
      @media only screen and (max-width: 746px) {
        #jumbotron div span#companysubtitle {
          font-size: 1em; } }
      #jumbotron div span#companysubtitle h2 {
        display: inline-block; }

#headlines #headerwrap {
  text-align: left; }
#headlines h3 {
  display: inline-block;
  text-align: left;
  margin-bottom: 12px;
  line-height: 2em;
  border-bottom: 2px solid #40B1B1; }
#headlines #servicewrap {
  margin: 0 auto; }

.service {
  float: left;
  width: 370px\9;
  max-width: 370px;
  margin: 15px 0;
  padding: 0 12px; }
  .service > div {
    float: left;
    width: 292px\9;
    max-width: 292px;
    text-align: left; }
  .service i {
    width: 48px !important;
    content: "";
    display: block;
    float: left;
    color: #40B1B1;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
  .service span {
    display: inline-block;
    top: -3px;
    font-size: 1.4em;
    position: relative;
    font-weight: 500; }

@media screen and (max-width: 1202px) {
  .service {
    max-width: 276px; }
    .service > div {
      max-width: 204px; } }

@media screen and (max-width: 938px) {
  .service {
    max-width: 212px;
    padding: 0 6px; }
    .service > div {
      max-width: 152px; }
  #menu {
    padding: 0 12px; }
  .pagecontainer, .centralcontainer, .pagecontainerdark {
    padding: 24px 12px; } }

@media screen and (max-width: 746px) {
  .service {
    max-width: 100%;
    float: none; }
    .service > div {
      max-width: 100%;
      float: none; }
  .centralcontainer .main {
    font-size: 1em; }
  h2, .mh2, .centralcontainer .title {
    font-size: 1.6em; } }

.closebtn {
  position: absolute;
  right: 0;
  width: 40px;
  height: 12px;
  background: url("../img/close.png");
  cursor: pointer; }

#angulartmp {
  position: absolute;
  top: 160px; }

::-ms-tooltip {
  display: none; }

ul {
  margin: 0;
  padding: 0;
  clear: both; }
  ul li {
    display: inline-block;
    list-style-type: none;
    float: left;
    margin-right: 20px;
    vertical-align: middle; }

.nav-tabs {
  margin-bottom: 12px; }
  .nav-tabs a {
    color: #000;
    font-weight: bold; }

#imageUrl {
  width: 400px; }

#addImageButton {
  display: inline-block;
  margin-top: 12px; }

#controlbar {
  position: absolute;
  bottom: 60px;
  height: 40px;
  width: 100%;
  border: 1px solid #aaa;
  background-color: rgba(0, 0, 0, 0.2); }
  #controlbar > div {
    float: left; }

slider {
  display: inline-block;
  position: relative;
  height: 7px;
  width: 120px;
  margin: 25px 5px 25px 5px;
  vertical-align: middle; }
  slider span {
    white-space: nowrap;
    position: absolute;
    display: inline-block; }
    slider span.base {
      width: 100%;
      height: 100%;
      padding: 0; }
    slider span.bar {
      width: 100%;
      height: 100%;
      z-index: 0;
      -webkit-border-radius: 1em/1em;
      border-radius: 1em/1em;
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d));
      background: -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
      background: -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
      background: -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
      background: -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
      background: linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
      -webkit-box-shadow: inset 2px 2px 5px;
      box-shadow: inset 2px 2px 5px; }
      slider span.bar.selection {
        width: 0%;
        z-index: 1;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
        background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
        background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
        background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
        background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
        background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
        -webkit-box-shadow: none;
        box-shadow: none; }
    slider span.pointer {
      cursor: pointer;
      width: 20px;
      height: 20px;
      top: -8px;
      background-color: #fff;
      border: 1px solid #000;
      z-index: 2;
      -webkit-border-radius: 1em/1em;
      border-radius: 1em/1em; }
      slider span.pointer:after {
        content: '';
        background-color: #808080;
        width: 8px;
        height: 8px;
        position: absolute;
        top: 5px;
        left: 5px;
        -webkit-border-radius: 1em/1em;
        border-radius: 1em/1em; }
      slider span.pointer:hover:after {
        background-color: #000; }
      slider span.pointer.active:after {
        background-color: #f00; }
    slider span.bubble {
      cursor: default;
      top: -22px;
      padding: 1px 3px 1px 3px;
      font-size: 0.7em;
      font-family: sans-serif; }
      slider span.bubble.selection {
        top: 15px; }
      slider span.bubble.limit {
        color: #808080; }
