html {
  color: #000;
  background: #FFF; }

body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

fieldset, img {
  border: 0; }

address, caption, cite, code, dfn, em, strong, th, var {
  font-style: normal;
  font-weight: normal; }

ol, ul {
  list-style: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal; }

q:before, q:after {
  content: ''; }

abbr, acronym {
  border: 0;
  font-variant: normal; }

sup {
  vertical-align: text-top; }

sub {
  vertical-align: text-bottom; }

input, textarea, select {
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit; }

input, textarea, select {
  *font-size: 100%; }

legend {
  color: #000; }

#yui3-css-stamp.cssreset {
  display: none; }

@import url(//fonts.googleapis.com/css?family=Open+Sans:600,400);
@import url(//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css);
@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
html, body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, textarea, p, blockquote, th, td {
  margin: 0;
  padding: 0; }

li {
  list-style: none; }

h1, .mh1 {
  font-weight: 700;
  font-size: 2.8em; }

h2, .mh2, .centralcontainer .title {
  font-weight: 700;
  font-size: 2em; }

.nolink {
  color: #333333 !important;
  cursor: default !important;
  text-decoration: none !important; }

.debug {
  border: 2px solid red; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.alpha60, #infobar {
  /* Fallback for web browsers that don't support RGBa */
  background-color: #212121;
  /* RGBa with 0.6 opacity */
  background-color: rgba(33, 33, 33, 0.4);
  /* For IE 5.5 - 7*/
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99333333, endColorstr=#99333333);
  /* For IE 8*/
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#99333333, endColorstr=#99333333)"; }

.minimalrounded, #infobar {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -khtml-border-radius: 3px; }

.rounded {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  -khtml-border-radius: 10px; }

.withn {
  margin-top: 12px; }

html {
  height: 100%; }

body {
  font-family: 'Open Sans', sans-serif;
  color: #333333; }

#pageheader {
  text-align: right;
  padding: 6px 0;
  right: 0;
  left: 0;
  top: 0;
  position: fixed;
  z-index: 1030;
  overflow: visible;
  background-color: #fff; }
  #pageheader ul {
    font-size: 0.8em; }
    #pageheader ul li {
      display: inline;
      padding-right: 24px; }
      #pageheader ul li i {
        display: inline-block;
        padding-right: 8px; }
      #pageheader ul li a {
        color: #333333;
        cursor: pointer; }

div#headerspace {
  height: 40px; }

div#pagecontent {
  position: relative;
  width: 100%;
  text-align: center;
  overflow: hidden; }
  div#pagecontent .dgrey {
    color: #eeeeee; }
  div#pagecontent .dblue {
    color: #112637; }

#mainlogo {
  width: 200px; }

.pagecontainer, .centralcontainer, .pagecontainerdark {
  padding: 48px;
  margin: 16px auto;
  text-align: center; }

.contentwrap {
  width: 1170px\9;
  max-width: 1170px;
  width: auto;
  margin: 0 auto; }

#menu {
  padding: 0 48px; }
  #menu .contentwrap {
    text-align: left; }

.centralcontainer {
  text-align: center; }
  .centralcontainer div {
    margin: 15px auto; }
  .centralcontainer .main {
    font-size: 1.4em;
    width: 90%;
    margin: 15px auto;
    text-align: center; }

.pagecontainerdark {
  text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.1);
  background-color: #2D343E;
  color: #eeeeee; }

#footer {
  color: #eeeeee;
  font-size: 0.8em; }
  #footer div.col {
    width: 32%;
    float: left;
    text-align: center;
    margin-top: 6px; }
    @media only screen and (max-width: 1202px) { }
    @media only screen and (max-width: 938px) {
      #footer div.col {
        font-size: 1.2em;
        width: 100%;
        float: none;
        margin-bottom: 36px; } }
    @media only screen and (max-width: 746px) { }
    #footer div.col#midcol {
      margin-top: 0; }
    #footer div.col ul {
      margin: 0 auto;
      width: 200px\9;
      max-width: 200px; }
      #footer div.col ul li.social {
        display: inline-block;
        padding: 3px 1px; }
        #footer div.col ul li.social a {
          background-image: url(../img/sprite-map.png);
          background-size: auto;
          background-clip: border-box;
          background-attachment: scroll;
          width: 37px;
          height: 37px;
          display: inline-block; }
        #footer div.col ul li.social.twitter a {
          background-position: 0px -274px; }
        #footer div.col ul li.social.linkedin a {
          background-position: 0px -200px; }
        #footer div.col ul li.social.github a {
          background-position: 0px -421px; }
    #footer div.col #followmeheader {
      font-weight: 700;
      margin-bottom: 6px; }
  #footer div#address {
    width: 200px\9;
    max-width: 200px;
    margin: 0 auto;
    text-align: left !important; }
  #footer img#footerlogo {
    width: 180px; }

#scrolltotop {
  background-color: #000 !important; }

@media screen and (max-width: 1202px) {
  .service {
    max-width: 276px; }
    .service > div {
      max-width: 204px; } }

@media screen and (max-width: 938px) {
  .service {
    max-width: 212px;
    padding: 0 6px; }
    .service > div {
      max-width: 152px; }
  #menu {
    padding: 0 12px; }
  .pagecontainer, .centralcontainer, .pagecontainerdark {
    padding: 24px 12px; } }

@media screen and (max-width: 746px) {
  .service {
    max-width: 100%;
    float: none; }
    .service > div {
      max-width: 100%;
      float: none; }
  .centralcontainer .main {
    font-size: 1em; }
  h2, .mh2, .centralcontainer .title {
    font-size: 1.6em; } }

.closebtn {
  position: absolute;
  right: 5px;
  top: 5px;
  width: 40px;
  height: 40px;
  background: url("../img/close.png");
  cursor: pointer;
  z-index: 0; }

#angulartmp {
  position: absolute;
  top: 160px; }

::-ms-tooltip {
  display: none; }

.nav-tabs {
  margin-bottom: 12px; }
  .nav-tabs a {
    color: #000;
    font-weight: bold; }

#fromurl label {
  display: inline-block;
  width: 120px; }
#fromurl input {
  padding: 3px;
  margin: 3px; }
#fromurl button {
  margin: 3px; }
#fromurl #imageUrl {
  width: 400px; }
#fromurl #title {
  width: 400px; }

#buttonbar {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 100; }

#fullscreen {
  background-repeat: none;
  background-position: center center;
  background-size: cover;
  height: 100vh;
  width: 100%;
  border: 1px solid black;
  background-color: #222222;
  text-align: center;
  vertical-align: middle; }
  #fullscreen img {
    display: block;
    margin-left: auto;
    margin-right: auto; }

#infobar {
  position: absolute;
  z-index: 100;
  top: 25px;
  left: 10px;
  border: 1px solid #444444;
  text-align: left;
  padding: 6px;
  color: #a0a0a0;
  font-size: 0.8em; }

#controlbar {
  position: absolute;
  bottom: 12px;
  height: 40px;
  width: 100%;
  padding: 0 6px 0 6px;
  background-color: rgba(0, 0, 0, 0.4);
  color: #E0E0E0;
  clear: both;
  z-index: 999; }
  #controlbar > div {
    float: left; }
  #controlbar ul {
    float: right;
    margin: 0;
    padding: 0; }
    #controlbar ul li {
      display: inline-block;
      list-style-type: none;
      float: left;
      margin-right: 20px;
      vertical-align: middle; }
  #controlbar button {
    color: #303030;
    margin-top: 6px; }
  #controlbar a {
    display: inline-block;
    margin-top: 8px; }
  #controlbar #toggleShowDetails {
    color: #a0a0a0; }
  #controlbar #enterfullscreen {
    background: no-repeat url("../img/player-common-vfl.webp") -34px -983px;
    width: 32px;
    height: 32px;
    margin: 3px 0 3px 0; }
    #controlbar #enterfullscreen:hover {
      cursor: pointer; }
  #controlbar slider {
    display: inline-block;
    position: relative;
    height: 7px;
    width: 120px;
    margin: 25px 5px 25px 5px;
    vertical-align: middle; }
    #controlbar slider span {
      white-space: nowrap;
      position: absolute;
      display: inline-block; }
      #controlbar slider span.base {
        width: 100%;
        height: 100%;
        padding: 0; }
      #controlbar slider span.bar {
        width: 100%;
        height: 100%;
        z-index: 0;
        -webkit-border-radius: 1em/1em;
        border-radius: 1em/1em;
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #c0c0c0), color-stop(1, #8d8d8d));
        background: -webkit-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
        background: -moz-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
        background: -o-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
        background: -ms-linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
        background: linear-gradient(top, #c0c0c0 0, #8d8d8d 100%);
        -webkit-box-shadow: inset 2px 2px 5px;
        box-shadow: inset 2px 2px 5px; }
        #controlbar slider span.bar.selection {
          width: 0%;
          z-index: 1;
          background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #13b6ff), color-stop(1, #00a8f3));
          background: -webkit-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
          background: -moz-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
          background: -o-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
          background: -ms-linear-gradient(top, #13b6ff 0, #00a8f3 100%);
          background: linear-gradient(top, #13b6ff 0, #00a8f3 100%);
          -webkit-box-shadow: none;
          box-shadow: none; }
      #controlbar slider span.pointer {
        cursor: pointer;
        width: 20px;
        height: 20px;
        top: -8px;
        background-color: #fff;
        border: 1px solid #000;
        z-index: 2;
        -webkit-border-radius: 1em/1em;
        border-radius: 1em/1em; }
        #controlbar slider span.pointer:after {
          content: '';
          background-color: #808080;
          width: 8px;
          height: 8px;
          position: absolute;
          top: 5px;
          left: 5px;
          -webkit-border-radius: 1em/1em;
          border-radius: 1em/1em; }
        #controlbar slider span.pointer:hover:after {
          background-color: #000; }
        #controlbar slider span.pointer.active:after {
          background-color: #f00; }
      #controlbar slider span.bubble {
        cursor: default;
        top: -22px;
        padding: 1px 3px 1px 3px;
        font-size: 0.7em;
        font-family: sans-serif;
        color: #E0E0E0; }
        #controlbar slider span.bubble.selection {
          top: 15px; }
