extends layout

block content
    div#angulartmp
        div(ng-if="!currentUser")
            div
                button(data-ng-click="showLogin()")
        div(ng-if="currentUser")
            div Hello {{currentUser.name}}
        a(href="#!/") Home
        a(href="#!/about") About    
    div(data-ng-view)