extends layout

block content
    div#buttonbar
        button#clickme Go fullscreen

    div#infobar
        div#screenRatio yes yes
        div#imageRatio
        div#ratioDiff

    div#fullscreen
        img

