extends layout

block content
    div#buttonbar
        button#clickme Go fullscreen

    div#infobar
        div#screenRatio Loading...
        div#imageRatio
        div#ratioDiff
        div#resizeDiff

    div#fullscreen
        img

