.closebtn {
    position: absolute;
    right: 0;
    width: 40px;
    height: 12px;
    background: url("../img/close.png");
    cursor: pointer;
}
#angulartmp{
    position: absolute;
    top: 160px;
}
::-ms-tooltip {
    display: none;
}

.nav-tabs {
    margin-bottom: 12px;
    a {
        color: #000;
        font-weight: bold;
    }
}

#imageUrl {
    width: 400px;
}